* {
    box-sizing: border-box
}

body  {
    font-family: monospace;
    background-color:aliceblue;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px;
  }

div,h2,h1 {
    padding: 8px;
    width: 100%;
    text-align: center;
}

button {
    margin: 20px;
    width: 10%;
    font-weight: bold;
    font-family: monospace;
}

#board {
    
}

#compCol, #playerCol {
    width: 40%;
}